:root {
  --vp-c-bg: #ffffff;
  --vp-c-bg-soft: #f6f6f7;
  --vp-c-bg-mute: #f1f1f3;
  --vp-c-divider: #e2e2e3;

  --vp-c-brand-1: #d97706;
  --vp-c-brand-2: #b45309;
  --vp-c-brand-3: #f59e0b;
  --vp-c-brand-soft: rgba(217, 119, 6, 0.14);
  --vp-c-brand: var(--vp-c-brand-1);

  --vp-c-text-1: #213547;
  --vp-c-text-2: #3c3c43c7;
  --vp-c-link: #1e40af;
  --vp-c-link-hover: #2563eb;
  
  --custom-footer-bg: #ebebec;
  
  --vp-custom-block-tip-border: #10b981;
  --vp-custom-block-tip-text: #047857;
  --vp-custom-block-tip-bg: #10b9811a;
}

.dark {
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-soft: #202127;
  --vp-c-bg-mute: #2a2a2a;
  --vp-c-divider: #3a3a3a;

  --vp-c-brand-1: #fbbf24;
  --vp-c-brand-2: #f59e0b;
  --vp-c-brand-3: #d97706;
  --vp-c-brand-soft: rgba(251, 191, 36, 0.14);
  --vp-c-brand: var(--vp-c-brand-1);

  --vp-c-text-1: #f3f4f6;
  --vp-c-text-2: #9ca3af;
  --vp-c-link: #74c476;
  --vp-c-link-hover: #a1d99b;

  --custom-footer-bg: #161618;

  --vp-custom-block-tip-border: #10b98180;
  --vp-custom-block-tip-text: #34d399;
  --vp-custom-block-tip-bg: #10b98129;
}

.vp-doc a:not(.header-anchor) {
  color: var(--vp-c-link);
  font-weight: 500;
}

.vp-doc a:not(.header-anchor):hover {
  color: var(--vp-c-link-hover);
}